.navbar-cnery {
  justify-content: space-between;
  background: white;
}

.navbar-cnery .navbar-collapse {
  flex-grow: 0;
}

.navbar-cnery .navbar-brand img {
  width: 120px;
}

.navbar-cnery.selected-lang {
  cursor: pointer;
}
