body {
//margin-top: 150px;
}

.service_container {
  background-color: purple;
}

.Services-Header {
}

h1.mb-4{
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase ;
}

.card-body h1 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase ;
}

.card-img-top {
  
}

.card {
  //height: 800px;
  padding: 5px;
}

.services {
  padding: 5px;
  background-color: purple;
}